<header class="header">
  <div class="header-left"></div>

  <div class="header-center">
    <button mat-button routerLink="/events">Events</button>
    <button mat-button>Venues</button>
  </div>

  <div class="header-right">
    <button *ngIf="isBuyer()" mat-icon-button aria-label="Cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <ng-container *ngIf="isLoggedIn(); else guest">

      <!-- Logout Button -->
      <button mat-icon-button (click)="logout()" matTooltip="Logout">
        <mat-icon>logout</mat-icon>
      </button>

      <!-- Profile Dropdown -->
      <button mat-icon-button [matMenuTriggerFor]="profileMenu" matTooltip="Menu" aria-label="Profile menu">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item (click)="navigateTo('profile')">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button *ngIf="isHost()" mat-menu-item (click)="navigateTo('host/events')">
          <mat-icon>event</mat-icon>
          <span>My Events</span>
        </button>

         <button *ngIf="isHost()" mat-menu-item (click)="navigateTo('host/events/new')">
          <mat-icon>calendar_add_on</mat-icon>
          <span>Add New Event</span>
        </button>

        <button *ngIf="isHost()" mat-menu-item (click)="navigateTo('stats')">
          <mat-icon>bar_chart</mat-icon>
          <span>Statistics</span>
        </button>
      </mat-menu>
    </ng-container>

    <ng-template #guest>
      <button mat-icon-button (click)="openProfileDialog()">
        <mat-icon>account_circle</mat-icon>
      </button>
    </ng-template>
  </div>
</header>
